	button{
	text-align: left; 
	margin-left: auto"
	type="submit" 
	name="submit" 
	}

	body{
	background-image: url('mainBack.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	}
	
	#aboutBackground{
	background-image: url('malabsay.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	}
	
	#hobbiesBackground{
	background-image: url('back.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	}
	
	#artwworkBackground{
	background-image: url('artwork.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	}
	
	#contactMeBackground{
	background-image: url('messageMe.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	}

	table{
	//width: 1px;
	height: auto;
	border: 3px solid black;
	padding: auto;
	//margin: 2px;
	}
	
	label{
	font-size: 20px;
	size = 50;
	//width: 1px;
	//height: auto;
	//border: 3px solid black;
	//padding: auto;
	//margin: 2px;
	}

	#tab{
	width: 2px;
	border: 3px solid white;
	padding: 0px;
	margin: 2px;
		
	}
	
	padding{
	width: 80%;
	margin: 0 auto;
	}
	
	h2{
	font-family: Georgia,serif;
	}
	
	h3{
	font-family: Georgia,serif;
	color:black;
	font-size: 20px;
	}
	
	#socMed{
	font-family: Georgia,serif;
	color:black;
	font-size: 20px;
	}
	
	h4{
	/*padding-top: 10%;
	text-align: left;
	margin-left: 15px;
	margin-top: 50px;
	font-size: 45px;
	color: #204060;*/

	font-family: Palatino,Georgia;
	font-size: 45px;
	color: black;
	white-space: pre;
	margin: 0 auto;
	//margin-left: 180px;
	//padding-left:180px;
	text-align: center
	}
	
	#info{
	font-family: Palatino,Georgia;
	font-size: 20px;
	color:black;
	white-space: pre;
	margin: 15px;
	padding-left:30px;
	}
	#infoAbout{
	font-family: Palatino,Georgia;
	font-size: 20px;
	color:black;
	white-space: pre;
	margin: 10px;
	padding-left:30px;
	LINE-HEIGHT:35px;
	background-color: rgba(0,255,0,0.3);;
	}
	
	#socialIntro{
	font-family: Palatino,Georgia;
	font-size: 20px;
	color:black;
	white-space: pre;
	margin: 10px;
	padding-left:30px;
	LINE-HEIGHT:35px;
	background-color: rgba(247, 237, 237, 0.50);
	}
	
	#artIn{
	font-family: Palatino,Georgia;
	font-size: 20px;
	color:white;
	white-space: pre;
	margin: 10px;
	padding-left:30px;
	LINE-HEIGHT:35px;
	background-color: ;
	}
	
	#tablePos{
	position: absolute;
	left: 325px;
	top: 250px;
	}
	
	#mailTablePos{
	position: absolute;
	left: 325px;
	top: 350px;
	}
	
	a:link{
		color: #0033cc;
	}
	
	a:visited{
		color:#336699;
	}
	
	a:hover{
		color:#3399ff;
	}
	
	a:active{
		color: #00ffcc;
	}
	
	
	
